.catalog-extra{
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: '';
    display: block;
    width: 320px;
    border: solid 1px #ededed;
    margin-left: -20px;
  }
  &__plus {
    display: block;
    margin-top: 27px;
  }
  &__title {
    font-size: 16px;
    line-height: 1.25;
    font-weight: normal;
    color: @text-black;
    margin-top: 25px;
  }
  &__descr {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: @text-grey;
    margin-top: 11px;
  }
  &__button {
    font-family: "Oswald", sans-serif;
    background-color: @bg-lightgrey;
    color: @text-grey;
    margin-top: 22px;
    margin-bottom: 25px;
  }
}
@media (min-width: @tablet-width) {
  .catalog-extra {
    &::after {
      display: none;
    }
    &__plus {
      margin-top: 55px;
    }
    &__plus img {
      width: 61px;
      height: 61px;
      opacity: 0.2;
    }
    &__title {
      width: 133px;
      font-size: 19px;
      line-height: 1;
      margin-top: 50px;
      text-align: center;
    }
    &__descr {
      width: 165px;
      font-size: 15px;
      line-height: normal;
      margin-top: 28px;
      text-align: center;
    }
    &__button {
      width: 249px;
      height: 40px;
      background-color: @bg-lightgrey;
      margin-top: 85px;
    }
  }
}
@media (min-width: @desktop-width) {
  .catalog-extra {
    &__plus img {
      width: 61px;
      height: 61px;
      opacity: 0.2;
    }
    &__button {
      width: 169px;
      height: 40px;
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
