.catalog-item {
  list-style: none;
  .catalog-item__link-title {
    text-decoration: none;
  }
  .catalog-item__subtitle {
    font-size: 16px;
    line-height: 1.25;
    font-weight: normal;
    color: @text-black;
  }
  .catalog-item__characteristic {
    list-style: none;
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: @text-grey;
  }
  .catalog-item__button {
    font-family: "Oswald", sans-serif;
    background-color: @bg-icons;
    color: @text-white;
  }
}
