.cooperation {
  padding: 33px 25px 28px 19px;
  &__invitation {
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
  }
  &__address {
    font-family: "Arial";
    font-size: 14px;
    line-height: 1.43;
  }
}
