.example {
  background-color: @bg-lightgrey;
  margin-top: 20px;
  padding: 33px 20px 38px 20px;
  &__title {
    font-size: 36px;
    line-height: 1.67;
    color: @text-black;
  }
  &__description {
    font-family: "Arial";
    font-size: 14px;
    line-height: 1.29;
    color: @text-grey;
  }
  .plus {
    &__kilos {
      &--number {
        font-size: 24px;
        line-height: 1;
        text-align: center;
      }
      &--descr {
        font-family: "Arial";
        font-size: 12px;
        line-height: 1;
        text-align: center;
      }
    }
    &__days {
      &--number {
        font-size: 24px;
        line-height: 1;
        text-align: center;
      }
      &--descr {
        font-family: "Arial";
        font-size: 12px;
        line-height: 1;
        text-align: center;
      }
    }
  }
  .result {
    &__cost {
      font-size: 14px;
      line-height: 1.43;
      text-align: center;
    }
  }
  .toggle {
    &__before {
      font-size: 16px;
      line-height: 1.25;
    }
    &__after {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
