.example-descr {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  &__info {
    width: 124px;
    height: 56px;
    border-radius: 3px;
    border: solid 1px #cdcdcd;
    display: flex;
    flex-direction: column;
  }
  &__info span:nth-child(1) {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin-top: 16px;
  }
  &__info span:nth-child(2) {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-top: 4px;
  }
  &__cost {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    font-weight: normal;
    color: @text-black;
    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .example-descr {
    margin-top: 57px;
    &__cost {
      font-size: 20px;
      line-height: 1;
      margin-right: 0;
      margin-left: 0;
      text-transform: uppercase;
      text-align: right;
    }
    &__info {
      width: 162px;
    }
  }
}

@media (min-width: @desktop-width) {

}
