.extra-goods {
  padding: 31px 20px 39px 20px;
  &__title {
    font-size: 24px;
    line-height: 1;
  }
  .item {
    &__title {
      font-size: 16px;
      line-height: 1;
    }
    &__button {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
    }
    .info {
      &__volume {
        font-family: "Arial";
        font-size: 14px;
        line-height: 1;
        color: @text-grey;
      }
      &__price {
        font-family: "Arial";
        font-size: 14px;
        line-height: 1;
        color: @text-grey;
      }
    }
  }
}
