.extra-goods {
  padding: 31px 20px 39px 20px;
  .extra-goods__title {
    font-size: 24px;
    line-height: 1;
  }
  .item {
    .item__title {
      font-size: 16px;
      line-height: 1;
    }
    .item__button {
      display: block;
      width: 280px;
      height: 40px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
      text-decoration: none;
      text-align: center;
    }
    .info {
      .info__volume {
        font-family: "Arial";
        font-size: 14px;
        line-height: 1;
        color: @text-grey;
      }
      .info__price {
        font-family: "Arial";
        font-size: 14px;
        line-height: 1;
        color: @text-grey;
      }
    }
  }
}
