.promo {
  .promo__header {
    background: url(../img/index-background-mobile@1x.jpg) no-repeat;
    width: 100%;
    height: 305px;
    border-top: 1px solid white;
  }
  .promo__slogan {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    font-weight: normal;
    color: @text-white;
    margin: 29px 37px 19px 37px;
  }
  .promo__intro {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: @text-white;
    margin: 0 61px 29px 61px;
  }
  img {
    margin-top: -138px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .promo__button {
    font-family: "Oswald", sans-serif;
    margin: 3px 20px 22px 20px;
    background-color: @bg-icons;
    font-size: 14px;
    line-height: 1.29;
    color: @text-white;
  }
}
