.page-header {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    min-width: 280px;
    width: 87%;
    margin: 0 auto;
  }
  &__logo:hover {
    opacity: 0.8;
  }
  &__logo:active {
    opacity: 0.6;
  }
  &__toggle {
    position: absolute;
    right: 19px;
    top: 10px;
    width: 25px;
    height: 19px;
    cursor: pointer;
      span, span::before, span::after {
        width: 100%;
        position: absolute;
        height: 3px;
        background: #222222;
        display: block;
        transition: .3s;
        border-radius: 5px;
      }
      span::before {
        content: "";
        top: -10px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      span {
        top: 20px;
      }
      span:after {
        content: "";
        bottom: -10px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      span.active::before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      span.active::after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      span.active{
        background: rgba(255, 255, 255, 0);
      }
  }
  &__main-nav {
    display: none;
  }
  &__show {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 24px;
    hr {
      display: none;
    }
    &__wrapper {
      width: 25%;
      min-width: 174px;
      margin: 0 auto;
    }
    &__logo-image {
      width: 174px;
      height: 59px;
    }
    &__toggle {
      display: none;
    }
    &__main-nav {
      display: block;
      min-width: 437px;
      width: 57%;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: auto;
    margin-top: 53px;
    &__main-nav {
      width: 33%;
      min-width: 477px;
    }
    &__wrapper {
      min-width: 203px;
      width: 14%;
      margin-right: 540px;
    }
    &__logo-image {
      width: 203px;
      height: 60px;
    }
  }
}
