.page-header {
  display: flex;
  flex-direction: column;
  width: auto;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    min-width: 280px;
    width: 87%;
    margin: 0 auto;
  }
  &__logo:hover {
    opacity: 0.8;
  }
  &__logo:active {
    opacity: 0.6;
  }
  &__toggle {
    width: 25px;
    height: 19px;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 53px;
    &__wrapper {
      width: 25%;
      min-width: 174px;
      margin: 0 auto;
    }
    &__logo-image {
      width: 174px;
      height: 59px;
    }
    &__toggle {
      display: none;
    }
    &__main-nav {
      min-width: 437px;
      width: 57%;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-top: 38px;
    width: auto;
    &__main-nav {
      width: 33%;
      min-width: 477px;
    }
    &__wrapper {
      min-width: 203px;
      width: 14%;
      margin-right: 540px;
    }
    &__logo-image {
      width: 203px;
      height: 60px;
    }
  }
}
