@bg-lightgrey: #f2f2f2;
@bg-icons: #68b738;
@text-black: #111111;
@text-white: #ffffff;
@text-grey: #444444;

@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswaldregular.woff2')
         format('woff2'),
       url('../fonts/oswaldregular.woff')
         format('woff');
}

body {
  width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
h1 {
  margin: 0;
}

@import "blocks/_page-header.less";
@import "blocks/_promo.less";
@import "blocks/_programms.less";
@import "blocks/_description.less";
@import "blocks/_example.less";
@import "blocks/_page-footer.less";
@import "blocks/_gift.less";
@import "blocks/_cooperation.less";
@import "blocks/_catalog.less";
@import "blocks/_more-products.less";
@import "blocks/_extra-goods.less";
@import "blocks/_gift.less";
@import "blocks/_form.less";
@import "base/_button.less";
