.copyright {
  display: flex;
  justify-content: space-between;
  &__icon-link {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: @text-grey;
    text-decoration: none;
  }
}
@media (min-width: @tablet-width) {
  .copyright {
    &__logo {
      width: 128px;
      height: 24px;
    }
  }
}
@media (min-width: @desktop-width) {

}
