.example-button {
  .example-button__before {
    font-size: 16px;
    line-height: 1.25;
    color: @text-black;
  }
  .example-button__after {
    font-size: 16px;
    line-height: 1.25;
    color: @text-black;
  }
}

