.promo {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0 auto;
  &__header {
    background: url(../img/index-background-mobile@1x.jpg) no-repeat;
    height: 305px;
  }
  &__slogan {
    font-size: 36px;
    margin-top: 29px;
    margin-bottom: 19px;
    line-height: 1;
    text-align: center;
    font-weight: normal;
    color: @text-white;
  }
  &__intro {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: @text-white;
  }
  img {
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto;
  }
  &__button {
    font-family: "Oswald", sans-serif;
    background-color: @bg-icons;
    font-size: 14px;
    line-height: 1.29;
    color: @text-white;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: @tablet-width) {
  .promo {
    width: 768px;
    &__header {
      background: none;
      padding: 0 208px 0 91px;
    }
    &__slogan {
      font-size: 60px;
      color: @text-black;
      text-align: left;
      margin-top: 61px;
      margin-bottom: 33px;
    }
    &__intro {
      font-size: 20px;
      color: @text-black;
      text-align: left;
    }
    img {
      width: 709px;
      height: 609px;
      margin-top: -50px;
      z-index: -1;
    }
    &__button {
      width: 245px;
      height: 52px;
      margin-left: 92px;
      margin-right: 0;
      margin-top: -580px;
      margin-bottom: 540px;
    }
  }
}
@media (min-width: @desktop-width) {
  .promo {
    position: relative;
    width: 100%;
    height: 696px;
    flex-direction: row;
    align-items: center;
    background: url(../img/index-background-mobile@1x.jpg) no-repeat 100%;
    background-size: 720px 696px;
    margin-bottom: 80px;
    margin-top: -97px;
    z-index: -1;
    padding: 0 110px;
    .promo__header {
      background: none;
      padding: 0;
    }
    &__slogan {
      width: 60%;
    }
    .promo__button {
      position: absolute;
      width: 245px;
      height: 52px;
      font-size: 20px;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      top: 70%;
      left: 7.5%;
      z-index: 5;
    }
    img {
      position: absolute;
      width: 552px;
      height: 499px;
      margin: 0 auto;
      z-index: 1;
      left: 43%;
    }
  }
}
